#root {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
}

main {
  flex: 1;
  margin: auto;
  min-height: calc(100vh - 160px); /* check second operator when changing value */
}

.all-posts {
  display: flex;
  width: calc(100vw  - 80px);
  
}

.all-posts hr.divider {
  height: 100px;
  width: auto;
  margin: 12px;
}

aside a, .divider {
  position: sticky;
  top: 120px;
}

.all-posts button {
  margin: 0px 15px 0px 0px;
}

.posts-container {
  width: calc(100vw - 200px);
}

article h3, article h5, article h6, dialog h3, dialog h4, dialog h5 {
  margin: 15px 0px 15px 5px;
}

form#login, form#login > div {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

form#login > div, form#login button {
  margin: 10px 0px;
}

.comment img {
  padding: 4px;
  width: 9px;
  background-color: black;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 3px;
}

.comment h5 {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.comment h5, .comment p {
  margin: 10px 0px;
}
.hr-edit-divder {
  border: 1px solid black;
}


#login-paragraph {
  padding-top: 100px;
  font-size: 36px;
  margin: 12px auto;
}

form#login input {
  height: 36px;
  width: 340px;
  font-size: 20px;
  padding: 3px 10px;
  border-radius: 8px;
  border-color: rgb(24, 13, 13);
  border-style: solid;
}
.error {
  color: #c1121f;
}

.create-form, .edit-form {
  display: flex;
  flex-direction: column;
  width: calc(100vw  - 80px);
  font-size: 23px;
  gap: 15px;
  padding-bottom: 100px;
}
.create-form input, .edit-form input {
  width: 300px;
  height: 25px;
  padding-left: 10px;
  font-family: inherit;
  font-size: 20px;
  font-weight: 250;
  border-style: none none solid;
}
select {
  font-family: inherit;
  font-size: 18px;
}
textarea {
  width: calc(100vw - 120px);
  padding: 10px;
  height: 250px;
  resize: none;
}

.publish input {
  width: auto;
  height: 15px;
}
.create-form button, .edit-form button {
  padding: 4px 8px;
  align-self: flex-start;
}



