#root {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

main {
  margin: auto;
  height: calc(100vh - 250px); /* check second operator when changing value */
}

.all-posts {
  display: flex;
  width: calc(100vw  - 80px);
  
}

.all-posts hr.divider {
  height: 100px;
  width: auto;
  margin: 12px;
}

aside a, .divider {
  position: sticky;
  top: 40px;
}

.all-posts button {
  margin: 0px 15px 0px 0px;
}

.posts-container {
  width: calc(100vw - 200px);
}

article h3, article h5, article h6, dialog h3, dialog h4, dialog h5 {
  margin: 15px 0px 15px 5px;
}

form#login, form#login > div {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

form#login > div, form#login button {
  margin: 10px 0px;
}

form#login {
  padding-top: 150px;
}

#login-paragraph {
  font-size: 36px;
  margin: 12px auto;
}

form#login input {
  height: 36px;
  width: 340px;
  font-size: 20px;
  padding: 3px 10px;
  border-radius: 8px;
  border-color: rgb(24, 13, 13);
  border-style: solid;
}
.error {
  color: #c1121f;
}
/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
} 
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
  

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/
