@font-face {
  font-family: Teko;
  src: url("/fonts/Teko/Teko-VariableFont_wght.ttf");
}

:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: Teko;

  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Toastify__toast-body { 
  font-family: Teko; 
  font-size: large;
}

nav > p {
  font-size: 20px;
  font-weight: 500;
}
nav > p > span {
  font-weight: 250;
}

a {
  font-weight: 500;
  color: #fca311;
  text-decoration: inherit;
}
a:hover {
  color: #fca311;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: aliceblue;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #b49479;
}
button:focus,
button:focus-visible {
  outline: 10px auto -webkit-focus-ring-color;
}
input:focus-visible {
  outline-color: #b49479;
}

